---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";

interface Props {
    lang: string;
    t: {
        languageLabel: string;
        languageOptions: Record<string, string>;
        navbar: Record<string, string>;
        footer: Record<string, string>;
        manifesto: Record<string, any>;
    };
	title?: string;
	description?: string;
	image?: string;
}

const { lang, t } = Astro.props;

const languages = [
  { code: "en", label: t.languageOptions.en },
  { code: "es", label: t.languageOptions.es },
  { code: "hi", label: t.languageOptions.hi },
  { code: "zh", label: t.languageOptions.zh },
];
---


<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="generator" content={Astro.generator} />
		<title>Veterans Crew</title>
	</head>
	<body class="min-h-screen flex flex-col">
		<Navbar lang={lang} t={t} languages={languages} />
		<main class="flex-grow flex flex-col !mb-0 !pb-0">
			<slot/>
		</main>
		<Footer lang={lang} t={t} languages={languages} class="!mt-0 !pt-0 !pb-0" />
	</body>
	
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #FFBF0F;
		font-family: "MonumentExtended", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
		padding: 0;
	}
</style>
